* {
    margin: 0px;
    padding: 0px;
}

.content-wrapper {
    width: 100%;
}

.header-wrapper,
.center-section-one,
.center-section-two {
    height: 800px;
    justify-content: center;
    align-items: center;
}

.center-section-three {
    display: flex;
    height: 450px;
    justify-content: center;
    align-items: center;
}

.footer-wrapper {
    height: 50px;
    justify-content: center;
    align-items: center;
}

.header-wrapper,
.footer-wrapper {
    background-color: #1F2937;
}

.center-section-two {
    background-color: #E5E7EB;
}

/* Header stylyzing */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}

nav ul{
    list-style: none;
}

a, 
li {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    padding: 5px 5px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

li {
    display: inline-block;
}

.hero-section {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.hero-text-main {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.hero-text-secondary {
    color: #E5E7EB;
    font-size: 18px;
}

.hero-text, .hero-image {
    width: 500px;
    height: 250px;
}

.hero-image {
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E5E7EB;
}

.hero-button {
    background-color: #3882F6;
    color: #E5E7EB;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

/* Center section one */

.center-section-one-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 50px;
}

.center-section-heading {
    text-align: center;
}

.center-section-card {
    flex-direction: column;
    margin: 50px 10px;
}

.center-section-card .card-top {
    width: 200px;
    height: 200px;
    border-style: solid;
    border-width: 4px;
    border-color: #3882F6;
    border-radius: 10px;
}

.center-section-card .card-bottom {
    width: 200px;
    height: 50px;
    text-align: center;
}

/* Center section two */
.center-section-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20%;
}

.quote-text {
    font-size: 36px;
    font-weight: lighter;
    color: #1F2937;
}

.quote-author {
    font-size: 18px;
    text-align: end;
    font-weight: bolder;
    color: #1F2937
}

/* Center section three */
.call-to-action {
    background-color: #3882F6;
    width: 750px;
    height: 200px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 5px 50px;
}

.cta-button {
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.cta-main-text {
    color: #F9FAF8;
}

.cta-secondary-text {
    color: #E5E7EB;
}

/* Footer */
.footer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
}