* {
    margin: 0px;
    padding: 0px;
}

.content-wrapper {
    width: 100%;
}

.header-wrapper,
.center-section-one,
.center-section-two {
    height: 50vh;
}

.center-section-three {
    height: 30vh;
}

.footer-wrapper {
    height: 5vh;
}

.header-wrapper,
.footer-wrapper {
    background-color: #1F2937;
}

.center-section-two {
    background-color: #E5E7EB;
}

/* Header stylyzing */

a, 
li {
    color: #E5E7EB;
    font-size: 18px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

li {
    display: inline-block;
}

.hero-section {
    display: flex;
    justify-content: center;
    flex: 1;
    padding: 100px;
    gap: 50px;
}

.hero-text-main {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.hero-text-secondary {
    color: #E5E7EB;
    font-size: 18px;
}

.hero-text, .hero-image {
    width: 500px;
    height: auto;
}

.hero-image {
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E5E7EB;
}